[worldserver]

# -----------------------------------------------------------------------------
# Weekend
# -----------------------------------------------------------------------------

# Multiplier for experience gains on weekends
WeekendBonus.Multiplier.Experience = 2.0

# Multiplier for money looted and rewarded from quests on weekends
WeekendBonus.Multiplier.Money = 2.0

# Multiplier for profession skill ups on weekends
WeekendBonus.Multiplier.Professions = 2

# Multiplier for reputation gains on weekends
WeekendBonus.Multiplier.Reputation = 2.0

# Multiplier for weapons and defense skill ups on weekends
WeekendBonus.Multiplier.Proficiencies = 2

# Multiplier for honor gains on weekends
WeekendBonus.Multiplier.Honor = 2.0

# -----------------------------------------------------------------------------
# Evening
# -----------------------------------------------------------------------------

# Enable / Disable evening bonuses
WeekendBonus.Evening.Bonuses.Enabled = 0

# Start / End times for evening bonuses
WeekendBonus.Evening.Bonuses.Start = 180000
WeekendBonus.Evening.Bonuses.End = 220000

# Multiplier for experience gains on evenings
WeekendBonus.Multiplier.Evening.Experience = 2.0

# Multiplier for money looted and rewarded from quests on evenings
WeekendBonus.Multiplier.Evening.Money = 2.0

# Multiplier for profession skill ups on evenings
WeekendBonus.Multiplier.Evening.Professions = 2

# Multiplier for reputation gains on evenings
WeekendBonus.Multiplier.Evening.Reputation = 2.0

# Multiplier for weapons and defense skill ups on evenings
WeekendBonus.Multiplier.Evening.Proficiencies = 2

# Multiplier for honor gains on evenings
WeekendBonus.Multiplier.Evening.Honor = 2.0

# -----------------------------------------------------------------------------
# Holiday
# -----------------------------------------------------------------------------

# Enable / Disable evening bonuses
WeekendBonus.Holiday.Bonuses.Enabled = 0

# List of holidays (Named holiday or mm/dd format with each comma seperated)
WeekendBonus.Holiday.Bonuses.Holidays = US_Thanksgiving,Christmas,02/28

# Multiplier for experience gains on a holiday
WeekendBonus.Multiplier.Holiday.Experience = 2.0

# Multiplier for money looted and rewarded from quests on a holiday
WeekendBonus.Multiplier.Holiday.Money = 2.0

# Multiplier for profession skill ups on a holiday
WeekendBonus.Multiplier.Holiday.Professions = 2

# Multiplier for reputation gains on a holiday
WeekendBonus.Multiplier.Holiday.Reputation = 2.0

# Multiplier for weapons and defense skill ups on a holiday
WeekendBonus.Multiplier.Holiday.Proficiencies = 2

# Multiplier for honor gains on a holiday
WeekendBonus.Multiplier.Holiday.Honor = 2.0
